<%= simple_form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, :label => 'Текст вопроса' %>

  <div class="answers">
    <%= f.simple_fields_for :answers do |answers_form| %>
      <div class="answer">
        <%= answers_form.input :name, :label => 'Текст ответа' %>

        <%= link_to '#', :class => 'remove_answer' do %>
          <i class="icon-minus-sign"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to '#', :id => 'add_answer' do %>
    <i class="icon-plus-sign"></i>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
